.navbar-nav .nav-link.active {
  background-color: #0d6efd; /* Azul bootstrap */
  color: white !important;
  border-radius: 0.25rem;
  font-weight: 600;
}
.valores-list {
  list-style: none;
  padding-left: 0;
}

.valores-list li {
  background: #e9f5ff;
  border-radius: 8px;
  padding: 12px 20px;
  margin-bottom: 12px;
  font-weight: 500;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.05);
  transition: background-color 0.3s ease;
}

.valores-list li:hover {
  background: #c0ddff;
}
